.main-page {
    background-image: url("./img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
    height: 100vh;
    padding-top: 15%;
    text-shadow: 2px 2px 2px violet;
}
    
.collapse, .navbar-collapse {
    text-align: right;
}

.circle {
    border-radius: 50%;
    background-color: red;
    width: 150px;
    height: 150px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-img {
    object-fit: cover;
}

.social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

#remove-underline a {
    text-decoration: none;
}

#about {
    scroll-margin-top: 80px;
/* The "about" anchor link is scrolling slightly too far down the page. This seems to be the most efficient solution that doesn't require me to search google for longer than 30 seconds. */
}